<nav class="navbar m-2 rounded fixed-top">
    <ul>
      <li>
        <svg>
          <text x="10%" y="10%" dy=".15em" text-anchor="right">
            Chatroom
          </text>
        </svg>
      </li>
      <span style="margin-left: 20em;"><li></li></span> 
      <li><a href="" class="nav-link">Main</a></li>
        
      {% if current_user.is_anonymous %}
        <li>
          <a href="{{ url_for('auth.login') }}" class="nav-link">
            Login
          </a>
        </li>
        <li>
          <a href="{{ url_for('auth.register') }}" class="nav-link">
            Реєстрація
          </a>
        </li>
     {% else %}
          <li>
            <a href="{{ url_for('user.get_users_list') }}" class="nav-link">
              Find friends
            </a>
          </li>

          <li>
            <a href="{{ url_for('posts.create_post') }}" class="nav-link">
              New post
            </a>
          </li>

          <li>
            <a href="{{ url_for('posts.get_all_posts') }}" class="nav-link">
              All post
            </a>
          </li>

          <li>
            <a href="{{ url_for('user.get_user_profile', username=current_user.username) }}" class="nav-link">
              Мій профіль
            </a>
          </li>

          <li>
            <a href="{{ url_for('auth.logout') }}" class="nav-link">
              Logout
            </a>
          </li>
      {% endif %}

    </ul>
  </nav>
  